In [99]:
# The 2 most useful objects of pandas are Series and DataFrame
import pandas as pd

In [100]:
# You can create your own index from an array
A = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
A.a

1

In [101]:
# You can call the values and indices of your data
print(A.values)
print(A.index)

[1 2 3 4 5]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [102]:
# The object created from an array and indices is a series
type(A)

pandas.core.series.Series

In [103]:
# When slicing series using explicit indices, the final index is included in the slice
A['b':'d']

b    2
c    3
d    4
dtype: int64

In [104]:
# Instead of creating a series object with an array and indices, you can also create a series object just with a dictionary
dict = {'a':1,'b':2,'c':3,'d':4,'e':5}
A = pd.Series(dict)
A.a

1

In [105]:
# When slicing series using implicit indices, the last index is not included, as for numpy arrays
A[0:2]

# Careful if you're using numerical explicit indices

# Series is mostly useful for 1-dimensional arrays

a    1
b    2
dtype: int64

In [106]:
# DataFrame can be seen as an extension of Series, but for 2-dimensional data structures
# You can create a DataFrame object from Series objects
series1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
series2 = {'a':True,'b':False,'c':False,'d':True,'e':True}
A = pd.DataFrame({'Numbers':series1,'Boolean':series2})
A

   Numbers  Boolean
a        1     True
b        2    False
c        3    False
d        4     True
e        5     True

In [107]:
# You can transpose a DataFrame object just like a matrix
A.T

            a      b      c     d     e
Numbers     1      2      3     4     5
Boolean  True  False  False  True  True

In [108]:
# The values of such a DataFrame object is a 2-dimensional array
A.values

array([[1, True],
       [2, False],
       [3, False],
       [4, True],
       [5, True]], dtype=object)

In [109]:
# You can obtain the columns titles
A.columns

Index(['Numbers', 'Boolean'], dtype='object')

In [110]:
# To add a column
A['Times3'] = A['Numbers'] * 3
A

   Numbers  Boolean  Times3
a        1     True       3
b        2    False       6
c        3    False       9
d        4     True      12
e        5     True      15

In [111]:
# To delete a column
del A['Numbers']
A

   Boolean  Times3
a     True       3
b    False       6
c    False       9
d     True      12
e     True      15

In [112]:
# To slice/mask a DataFrame with a condition
A[A['Boolean']==True]

   Boolean  Times3
a     True       3
d     True      12
e     True      15

In [113]:
# How to deal with missing value / NaN / None
A = pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])
A

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [114]:
# You can fill these missing values with a fixed number
A.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  3  4.0

In [115]:
# You can also drop all the records containing a missing value
A = pd.DataFrame([{'a':1,'b':2},{'a':2,'b':3,'c':4}])
A.dropna()

   a  b    c
1  2  3  4.0

In [116]:
# How to deal with confusion between implicit and explicit indices
a = pd.Series(['a','b','c'],index=[1,3,5])

In [117]:
# When just mentioning one index, you'll get the explicit index
a[1]

'a'

In [118]:
# But when using slicing you'll get implicit indices
a[1:3]

3    b
5    c
dtype: object

In [119]:
# Use loc instead to use explicit indices
a.loc[1:3]

1    a
3    b
dtype: object

In [120]:
# And use iloc instead to use implicit indices
a.iloc[1:3]

3    b
5    c
dtype: object

In [121]:
# To read a .csv file
df = pd.read_csv('covid_19_data.csv')
# and to show the n top records
df.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [122]:
# Import package from scikit-learn that manages even better missing data
import sklearn
from sklearn.impute import SimpleImputer

In [123]:
# To remove unnecessary columns
df.drop(['SNo','Last Update'],axis=1,inplace=True)
# inplace=True makes sure the modification is applied to df, otherwise it's applied to a temporary variable
df.head()

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020          Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020        Beijing  Mainland China       14.0     0.0        0.0
2      01/22/2020      Chongqing  Mainland China        6.0     0.0        0.0
3      01/22/2020         Fujian  Mainland China        1.0     0.0        0.0
4      01/22/2020          Gansu  Mainland China        0.0     0.0        0.0

In [124]:
# To rename columns
df.rename(columns={'ObservationDate':'Date','Province/State':'Province','Country/Region':'Country'},inplace=True)
df.head()

         Date   Province         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [125]:
# To convert a date to the internal panda date format
df['Date'] = pd.to_datetime(df['Date'])
df.head()

        Date   Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [126]:
# To obtain the general statistics of the data
df.describe()

          Confirmed         Deaths     Recovered
count  3.064290e+05  306429.000000  3.064290e+05
mean   8.567091e+04    2036.403268  5.042029e+04
std    2.775516e+05    6410.938048  2.015124e+05
min   -3.028440e+05    -178.000000 -8.544050e+05
25%    1.042000e+03      13.000000  1.100000e+01
50%    1.037500e+04     192.000000  1.751000e+03
75%    5.075200e+04    1322.000000  2.027000e+04
max    5.863138e+06  112385.000000  6.399531e+06

In [127]:
# To obtain information on provided data
df.info()
# For example here, we can see that all columns have values on each record, except Province

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       306429 non-null  datetime64[ns]
 1   Province   228329 non-null  object
 2   Country    306429 non-null  object
 3   Confirmed  306429 non-null  float64
 4   Deaths     306429 non-null  float64
 5   Recovered  306429 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.0+ MB

In [128]:
# To fill in the missing values (just one way)
imputer = SimpleImputer(strategy='constant')
df = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)
df.info() # now no value is missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       306429 non-null  datetime64[ns]
 1   Province   306429 non-null  object
 2   Country    306429 non-null  object
 3   Confirmed  306429 non-null  object
 4   Deaths     306429 non-null  object
 5   Recovered  306429 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 14.0+ MB

In [133]:
# To see records from one specific group, think of pivot table in Excel
df2 = df.groupby(['Date','Country'])[['Date','Country','Confirmed','Deaths','Recovered']].sum().reset_index()
# We are grouping by Date and by Country, then we want to see those columns, with values summed, and we reset indices just in case
df2

            Date             Country  Confirmed  Deaths  Recovered
0     2020-01-22               China        0.0     0.0        0.0
1     2020-01-22           Hong Kong        0.0     0.0        0.0
2     2020-01-22               Japan        2.0     0.0        0.0
3     2020-01-22            Kiribati        0.0     0.0        0.0
4     2020-01-22               Macau        1.0     0.0        0.0
...          ...                 ...        ...     ...        ...
87276 2021-05-29             Vietnam     6908.0    47.0     2896.0
87277 2021-05-29  West Bank and Gaza   307838.0  3492.0   300524.0
87278 2021-05-29               Yemen     6731.0  1319.0     3399.0
87279 2021-05-29              Zambia    94751.0  1276.0    91594.0
87280 2021-05-29            Zimbabwe    38933.0  1594.0    36578.0

[87281 rows x 5 columns]

In [136]:
# To get all the records with a condition
df3 = df2[df2['Deaths']>100000]
df3

            Date Country   Confirmed    Deaths  Recovered
16398 2020-05-27      US   1700960.0  100764.0   391508.0
16589 2020-05-28      US   1723592.0  101880.0   399991.0
16780 2020-05-29      US   1748015.0  103051.0   406446.0
16971 2020-05-30      US   1772237.0  104023.0   416461.0
17162 2020-05-31      US   1791798.0  104656.0   444758.0
...          ...     ...         ...       ...        ...
87170 2021-05-29   Italy   4213055.0  126002.0  3845087.0
87202 2021-05-29  Mexico   2411503.0  223455.0  1924865.0
87230 2021-05-29  Russia   4995613.0  118781.0  4616422.0
87267 2021-05-29      UK   4496823.0  128037.0    15481.0
87268 2021-05-29      US  33251939.0  594306.0        0.0

[1399 rows x 5 columns]